.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 40%
    right: 85%
    width: 15%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 65%
    right: 10%
    width: 13%
  &-3
    animation: float1 3.2s ease-in-out infinite alternate
    position: absolute
    top: 7%
    right: 25%
    width: 20%

@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

.banner-principal__img
  width: 470px !important
  padding-bottom: 0rem !important




//Estilos Tema5

.tema5-bg1
  background-color:#DCFBFF
  background-size: 100% 100%
  border-start-start-radius: 130px

.fa-ul2
  margin-left: 0 !important
  li
    display: flex !important
    &::before
      position: relative
      margin-right: 7px
      font-size: 1.4rem



