.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 40%
    right: 85%
    width: 15%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 65%
    right: 10%
    width: 13%
  &-3
    animation: float1 3.2s ease-in-out infinite alternate
    position: absolute
    top: 7%
    right: 25%
    width: 20%

@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

.banner-principal__img
  width: 470px !important
  padding-bottom: 0rem !important

//Estilos Tema1

.tarjeta--morada
  background-color: #E5DFF9

.tarjeta-avatar-b__img
  min-width: 20%
  max-width: 20%
  position: relative
  display: flex
  align-items: center
  right: 3%

.tarjeta--azul2
  background-color: #C3F8FF
  height: 300px
  @media (max-width: 500px)
    height: auto !important

.tarjeta--azul3
  background-color: #C3F8FF
  height: 350px
  @media (max-width: 500px)
    height: auto !important

.tarjeta--morada2
  background-color: #E5DFF9
  border-top-left-radius: 200px





//Estilos Tema4

.tema4-bg1
  background-color:#E5DFF9
  background-size: 100% 100%
  border-start-start-radius: 130px
  

//Estilos Tema5

.tema5-bg1
  background-color:#DCFBFF
  background-size: 100% 100%
  border-start-start-radius: 130px

.tema5-bg2
  background-color:#E5DFF9
  background-size: 100% 100%


.fa-ul2
  margin-left: 0 !important
  li
    display: flex !important
    &::before
      position: relative
      margin-right: 7px
      font-size: 1.4rem



